.page.theme_dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --button-color: #ff0070;
  --button-color-opacity: #ff007040;
  --title-color: #db00ff;

  --bg-image: url(../images/cover-image-dark.png);
}

.page.theme_dark .header__decor-rec {
  visibility: visible;
}

.page.theme_dark .content__title,
.page.theme_dark .header__theme-menu-item,
.page.theme_dark .decorated-zone::before,
.page.theme_dark .decorated-zone::after {
  color: var(--accent-color, #ff0070);
}

.page.theme_dark .content__heading-style,
.page.theme_dark .content__heading-text__style {
  color: var(--bg-color, #000028);
}

@media (prefers-color-scheme: dark) {

  :root {
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --button-color: #ff0070;
    --button-color-opacity: #ff007040;
    --title-color: #db00ff;

    --bg-image: url(../images/cover-image-dark.png);
  }

  .header__decor-rec {
    visibility: visible;
  }
}
