.page.theme_light {
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --button-decor-color: #353430;
  --button-color-opacity: #32312d40;
  --main-title-color: #ffc2e6;
  --main-title-shadow: #ff8dcb;
  --main-title-accent-shadow: #ff0070;
  --content-title-color: #353430;
  --article-title-color: #353430;
  --text-color: #353430;

  --bg-image: url(../images/cover-image-light.png);
}

.page.theme_light .header__decor-rec {
  visibility: hidden;
}

@media (width >= 1024px) {

  .page.theme_light .header__title {
    text-shadow: 4px 4px 0 var(--main-title-accent-shadow, #ff0070);
  }

  .page.theme_light .footer__title {
    text-shadow: 2px 2px 0 var(--main-title-accent-shadow, #ff0070);
  }
}

@media (prefers-color-scheme: light) {

  :root {
    --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --button-decor-color: #353430;
  --button-color-opacity: #32312d40;
  --main-title-color: #ffc2e6;
  --main-title-shadow: #ff8dcb;
  --main-title-accent-shadow: #ff0070;
  --content-title-color: #353430;
  --article-title-color: #353430;
  --text-color: #353430;

  --bg-image: url(../images/cover-image-light.png);
  }

  @media (width >= 1024px) {

    .header__title {
      text-shadow: 4px 4px 0 var(--main-title-accent-shadow, #ff0070);
    }

    .footer__title {
      text-shadow: 2px 2px 0 var(--main-title-accent-shadow, #ff0070);
    }
  }
}
